@using Lab12YG.Models
@inject HttpClient Http;
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage


@if (productos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>PrecioCompra</th>
                <th>PrecioVenta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productos)
            {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.Nombre</td>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Tipo</td>
					<td>@producto.Precio</td>
					<td>@producto.PrecioVenta</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Producto> productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        var productosGuardados = localStorage.GetItem<List<Producto>>("archivo_productos");

        if (productosGuardados != null)
        {
            productos = productosGuardados;
        }
    }
}